.slider {
  position: relative;
}

.drag-left{
  float: left;
  font-size: .6em;
  color: #b3b3b3;
}

.drag-right{
  float: right;
  font-size: .6em;
  color: #b3b3b3;
}

.date{
  color: #00858a;
  font-size: .5em;
  padding: .5em;
  font-weight: bold;
}

.forecast {
  font-size: .5em;
  font-size: .9vh;
  font-size: .9vw;
}

@media screen and (max-width: 530px) {
  .forecast{
    font-size: 1.5vh;
  }
  .date {
    font-size: 1.5vh;
  }
  .drag-right, .drag-left {
    font-size: 1.5vh;
  }
}