.btn-bar {
  position: absolute;
  border-radius: .5em;
  bottom: 5%;
  background-color: #e8e8e8;
  transform: translateX(50%);
}

.btn-container{
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  justify-content: center;
}