.btn-bar {
  position: absolute;
  bottom: 0;
  padding: .2em .2em;
  width: 200px;
  height: 50px;
  background-color: #e8e8e8;
  border-radius: 5%;
  display: flex;
}

.btn-container{
  flex-direction: column;
}