.btn-bar {
  position: absolute;
  padding: .2em .2em;
  border-radius: .5em;
  left: 25%;
  right: 25%;
  bottom: 5%;
  margin: 1em;
  background-color: #e8e8e8;
}

.btn-container{
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  justify-content: center;
}