#app {
   font-family: 'Open Sans', 'Baloo Tammudu 2', sans-serif;
   font-size: 1em;
   display: flex;
   height: 100vh;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
.left{
   width: 55vw;
   float: left;
   height: 100%;
}
.right{
   width: 45vw;
   float: right;
   min-height: 100%;
   display: grid;
   flex-direction: row;
}

.bottom-right{
  padding: 2em 3em;
  margin: 1em 2em;
  height: 50%;
}

input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: grab;
  box-shadow: 0px 0px 0px #000000;
  background: #008080;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 01x 0px 0px #008080;
  border: 3px solid #008080;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: grab;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #008080;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: grab;
  box-shadow: 0px 0px 0px #000000;
  background: #008080;
  border-radius: 20px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px ;
  border: 2px solid #008080;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #008080;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #d6d6d6;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px ;
  border: 2px solid #008080;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type="range"]::-moz-range-progress {
  background: #d6d6d6;
}
input[type=range]::-ms-fill-lower {
  background-color: #008080;
}
input[type=range]::-ms-fill-upper {
  background-color: #d6d6d6;
}

@media screen and (max-width: 530px) {
  #app {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .left{
    width: 100vw;
    height: auto;
    order: 2;
  }
  .right{
    width: 100vw;
    min-height: 0;
  }
  .top-right {
    order: 2;
    width: 100vw;
  }
  .bottom-right {
    order: 4;
    height: 33vh;
    margin: 0;
    padding: 1em 2em;
  }
}