#app {
   font-family: 'Open Sans', 'Baloo Tammudu 2', sans-serif;
   font-size: 1em;
   display: flex;
}
.left{
   width: 60%;
   height: 100%;
   float: left;
}
.right{
   width: 40%;
   height: 100%;
   float: right;
}

.bottom-right{
  padding: 2em 4em;
}
